<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>
<body>
	<div class="theme-layout">
		<div th:replace="layout/layout :: responsive-header"></div>
		<div th:replace="layout/layout :: topbar-stick"></div>
		
        <div th:replace="layout/layout :: messages" ></div>
        
		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row" id="page-contents">
								<div th:replace="plantillas :: results_column"></div>
								<!-- sidebar -->
								<div class="col-lg-8">
									
									<div th:replace="plantillas :: new-post"></div>

								</div>
								<!-- centerl meta -->
								<div class="col-lg-3">
								
								</div>
								<!-- sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="layout/layout :: bottombar"></div>
	</div>
	<div th:replace="layout/layout :: scriptero"></div>

	<script th:src="@{/js/newpost.js}"></script>
	
	<script th:src="@{/js/recentposts.js}"></script>
	
	<script type="text/javascript">
	
	page = 'addNewPost';
	$('#recent-post-init').hide();
	$('#recent-post-after').show();	
	
	</script>	

</body>

</html>
