<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{ layout/layout :: head }"></head>
<body>
	<div class="theme-layout">
		<div th:replace="layout/layout :: responsive-header"></div>
		<div th:replace="layout/layout :: topbar-stick"></div>
		
        <div th:replace="layout/layout :: messages" ></div>
        
		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row" id="page-contents">
								<div th:replace="plantillas :: results_column"></div>
								<!-- sidebar -->
								<div class="col-lg-8">
									
									<div th:replace="plantillas :: find-comments"></div>
									
									<!-- add post new box -->
									<div class="loadMore" id="loadMoreDiv">


										<!-- recentposts.js -->
										
										
										<!-- <div class="central-meta item" th:each="opinion,itr: ${lists}">
											<div class="user-post">
												<div class="friend-info">
													<figure>
														<img th:if="${opinion.user.ciudadano == null || opinion.user.ciudadano.fotoAvatarDebate == null}"  src="/images/resources/friend-avatar10.jpg" alt="">
														<img th:if="${opinion.user.ciudadano != null && opinion.user.ciudadano.fotoAvatarDebate != null}" th:src="@{'/users/uploads/' + ${opinion.user.ciudadano.fotoAvatarDebate}}" th:alt="${opinion.user.ciudadano.fotoAvatarDebate}" />
														
													</figure>
													<div class="post-meta">
														<ins>
															<a href="time-line.html" title=""
																th:text="${opinion.user.name}"></a>
															<div class="published-date">
																<span th:text="''+ ${opinion.creationDate}"></span>
															</div>
														</ins>
														<div class="description" style="word-wrap: break-word">
															<p th:text="${opinion.text}" style="color:black"></p>
														</div>
														<img th:if="${opinion.image != null}" th:src="@{'/users/uploads/' + ${opinion.image}}"  alt="" style="">
													</div>
													
													<div class="friend-name">
														<div class="friend-locate" th:if="${opinion.tags!=null && opinion.tags!=''}"><img th:src="@{/images/resources/tag.png}"  title="Add Categoty"  alt="" /><span>[[${opinion.tags==null?'':opinion.tags}]]  </span></div>
                                                        <div class="friend-locate"><img th:src="@{/images/resources/category.png}"  title="Add Categoty"  alt="" /><span th:each="category : ${opinion.themes}"  th:text="${category.name}"></span></div>
                                                        <div class="friend-locate" th:if="${opinion.location!=null && opinion.location!=''}"><img th:src="@{/images/resources/location.png}"  title="Add Categoty"  alt="" /><span th:text="${opinion.location}"> </span></div>
                                                        <div class="friend-locate"><span><a th:href="@{/debate/}+${opinion.id}" title="" class="see-debates" data-ripple="">See Debate</a></span></div>
													</div>
													
													<div class="post-plans">
														<div th:replace="plantillas :: postResultDiv"></div>
													</div>
												</div>
												
												<div class="new_posr_toggle">
													<nav class="navbar navbar-default" role="navigation">
														<div class="navbar-header">
															<a href="javascript:;" class="navbar-toggle x collapsed" data-toggle="collapse" th:data-target="'#navbar-collapse-'+${opinion.id}">
																 <i class="fa fa-chevron-down" aria-hidden="true"></i>
															</a>
															
														</div>
														
														<div class="collapse navbar-collapse" th:id="'navbar-collapse-'+${opinion.id}">
															<ul class="nav navbar-nav navbar-right">
															
																<li data-toggle="collapse" data-target="#navbar-collapse.in"><a th:href="${'javascript:copyUrl(''/debate/'+opinion.id+''',''navbar-tooltip-'+opinion.id+''');'}">Copy Link</a></li>
																<li data-toggle="collapse" data-target="#navbar-collapse.in"  th:if="${#authentication.principal.id == opinion.user.id}"><a href="#top">Edit</a></li>
																<li data-toggle="collapse" data-target="#navbar-collapse.in" th:if="${#authentication.principal.id == opinion.user.id}"><a href="#top">Remove</a></li>
															</ul>
														</div>.navbar-collapse
														<span class="copied-content" th:id="'navbar-tooltip-'+${opinion.id}" style="display: none">Copied</span>
													</nav>
												</div>
											</div>
										</div> -->
									</div>
								</div>
								<!-- centerl meta -->
								<div class="col-lg-3">
								
								</div>
								<!-- sidebar -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="layout/layout :: bottombar"></div>
	</div>
	<div th:replace="~{ layout/layout :: scriptero}"></div>

	<script th:src="@{/js/newpost.js}"></script>
	
	<script th:src="@{/js/recentposts.js}"></script>
	
	<script type="text/javascript">
	
	$(document).ready(function(){
		try{
			var searchText = getParam('text');
			searchText = searchText.replace(/\+/g,' ');
			$('#search-text').val(searchText);	
		}catch (e) {
			// TODO: handle exception
		}
		
		
		try{
			var theams = getParam('theams');
			theams = theams.replace(/\+/g,' ');
			$('#recent-post-cat-list').val(theams);
			
			var xTheams = $('#recent_post_cat_list_chosen').children('.chosen-single')[0]
			var yTheams = $(xTheams).children('span')[0]
			
			$(yTheams).html(theams);	
		}catch (e) {
			// TODO: handle exception
		}
		
		
		//tags
		try{
			var tags = getParam('tags');
			tags = tags.replace(/\+/g,' ');
			
			var tagsArr = tags.split(',');
			$('#recent-post-tag').show();
			tagsArr.forEach(function(v){
				//newpost.js
				addTagsVal(v);	
			});
				
		}catch (e) {
			// TODO: handle exception
		}
		
		
		try{
		
			var x = getSearchParameters();
			x = transformToAssocArray( x );
			x = x["choiceId"];
			if(Array.isArray(x)){
				//
				for(var i = 0; i<x.length;i++){
					$('#searchChk-'+x[i]).attr('checked',true);
				}
			}else{
				$('#searchChk-'+x).attr('checked',true);
			}
			
		}catch (e) {
			// TODO: handle exception
		}
		
		
	$('#recent-post-search').on('submit',function(){
			
		
			
		var x = $('#recent-post-tag-text').children();
		
		var s = '';
		
		for(var i =0; i<x.length;i++){
			
			
			s+=$(x[i]).data('val');
			
			if(i<x.length-1){
				s+=','
			}
		}
		
		
		 $('<input />').attr('type', 'hidden')
         .attr('name', "tags")
         .attr('value', s)
         .appendTo('#recent-post-search');
		 debugger;
     return true;
		
			
	});
		
		
	});
	
	
	
	
	
	</script>	

</body>

</html>
