<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{ layout/layout :: head }"></head>
<body>
	<div class="theme-layout">
		<div th:replace="layout/layout :: responsive-header"></div>
		<div th:replace="layout/layout :: topbar-stick"></div>
        <div th:replace="layout/layout :: messages" ></div>
        
		<section>
			<div class="gap gray-bg">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="row" id="page-contents">
								<div class="col-lg-3">
									<aside class="sidebar static"></aside>
								</div>

								<div class="col-lg-6">
									<div class="central-meta">
										<div class="editing-info">
											<h5 class="f-title"><i class="ti-lock"></i>Reset password</h5>

											<form method="post" th:action="@{/forgot-password}" th:object="${forgotPasswordCommand}">
											
												<div class="md-form">
													<i class="fa fa-envelope prefix grey-text"></i>
													<label>Email address</label>
													<input th:field="*{email}" type="email" class="form-control" placeholder="Email" /> 
													<small 	class="form-text text-danger"
														th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
												</div>
												<div class="submit-btns">
												      <button type="submit" class="mtr-btn"><span>Reset Password</span></button>
												 </div>     
											</form>


										</div>
									</div>
								</div>
								<!-- centerl meta -->

								<div class="col-lg-3">
									<aside class="sidebar static"></aside>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="layout/layout :: bottombar"></div>
	</div>
	<div th:replace="layout/layout :: side-panel"></div>
	<div th:replace="~{ layout/layout :: scriptero}"></div>
</body>
</html>



