<!DOCTYPE html>
<html  lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{ layout/layout :: head }"></head>
<body>
	<div class="theme-layout">
		<div th:replace="~{layout/layout :: responsive-header}"></div>
		<div th:replace="~{layout/layout :: topbar-stick}"></div>
		
		<div th:replace="~{layout/layout :: messages}" ></div>
		
      
		<!-- Hello, Home! -->

		<!-- div th:replace="~{layout/layout :: footer}"></div-->
		<div th:replace="~{layout/layout :: bottombar}"></div>
	</div>
	<!-- div th:replace="~{layout/layout :: side-panel}"></div-->
	<div th:replace="~{ layout/layout :: scriptero}" ></div>
</body>
</html>
