<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<!--<div class="se-pre-con"></div>-->
	<div class="theme-layout">
		<div class="container-fluid pdng0">
			<div class="row merged">

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="land-featurearea">
						<div class="land-meta">
							<h1 th:text="#{text.home.brand}">Votekin</h1>
							<p th:text="#{text.home.moto}">The power of citizens to find politic and social agreements.</p>
							<div th:text="${#locale}"></div>
							<div class="friend-logo">
								<span><img th:src="@{/images/wink.png}" alt=""></span>
							</div>
							<a href="#" title="" class="folow-me">Follow Us on</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg"   >
						<div class="log-reg-area sign join-votekin"  >
						<div class="signin-header">
							<img th:src="@{/images/fav.png}" alt="">
							<button class="mtr-btn already-have float-right" style="display: block;" type="button"><span>Login</span></button>
						</div>
							<h4>See whats happening in the world right now</h4>
							<h6>
								Join Votekin today.
							</h6>
							<button class="mtr-btn signup" style="display: block; width: 100%;" type="submit"><span>Sign Up</span></button>
							<button class="mtr-btn already-have" style="display: block; width: 100%;" type="button"><span>Login</span></button>
						</div>
        	
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	
		
	
	</script>

 	<div th:replace="layout/layout :: scriptero"  ></div>
	<script th:if="${errorSignup != null}" type="text/javascript" >
	     //$('.login-reg-bg').addClass('show');
    </script>
	

</body>
</html>
