<!DOCTYPE html>
<html lang="en" dir="ltr">
<head th:replace="layout/layout :: head"></head>
<body class="registerpage">
	<div class="main-body">
		<div class="login-bg"></div>
		<div class="login">
			<div class="login-logo text-center">
				<img src="images/login/logo.png" alt="">
				<h2>Votekin</h2>
				<p>The power of responsible citizens to achieve political and
					social agreements.</p>
			</div>
			<div class="login-form">
				<div class="login-left">
					<h3>Register</h3>
					<form method="post" th:action="@{/signup}" th:object="${user}"
						id="signupForm">
						<div class="form-group">
							
							<input type="text" required="required" th:field="*{name}"
								autofocus /> <i class="mtrl-select"></i> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
						</div>
						<div class="form-group">
							<input
								type="email" required="required" th:field="*{email}" /> <i
								class="mtrl-select"></i> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						</div>
						<div class="form-group">
							<input
								type="password" required="required" th:field="*{password}" /> <i
								class="mtrl-select"></i> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>
						<div class="remember-option form-group">
							<input type="checkbox" name="" value=""> <label>Accept
								terms & Conditions?</label>
						</div>
						<div class="form-group text-center signup-page-btn">
							<!-- <a href="#" class="btn-post">Sign In <img src="images/login/sign_in.png" alt="" width="22px"> </a> -->
							<!-- <a href="#" class="btn-post">Sign Up <img
								src="images/login/sign_up.png" alt="" width="22px"></a> -->
								<button class="btn-post" type="submit">
										<span th:text="#{text.home.button.signup}">Sign Up</span><img
								src="images/login/sign_up.png" alt="" width="22px">
									</button>
						</div>
					</form>
					<div class="forgot-section">
						<!-- <a href="javascript:;">Forgot Password</a>
              <p>Already using Votekin via text message?</p> -->
						<a href="/login">Already have an account ?</a>
					</div>
					<div class="or">
						<span class="or-option">OR</span>
					</div>
				</div>
				<div class="login-right">
					<div class="connect-with">
						<span>connect with</span>
						<form th:action="@{/signin/facebook}" method="POST">
							<button class="mtr-btn signin fb" type="submit">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</button>
							<!-- <input type="hidden" name="scope" value="email,publish_stream,offline_access" /> -->
							<input type="hidden" name="scope" value="email" />
						</form>
						<form th:action="@{/signin/google}" method="POST">
							<input type="hidden" name="scope"
								value="https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile" />
							<button class="mtr-btn google" type="submit">
								<i class="fa fa-google" aria-hidden="true"></i>
							</button>
						</form>
						<form th:action="@{/signin/linkedin}" method="POST">
							<input type="hidden" name="scope"
								value="r_emailaddress,r_basicprofile" />
							<button class="mtr-btn linkedin" type="submit">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</button>
						</form>
					</div>
				</div>
			</div>
			<!-- <input type="button" value="Login"> -->
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/wow.min.js"></script>
</body>
</html>
